body{
    background-image: url(imagens/escritorio.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 5rem;
}
#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 152, 99);
    height:1200px;
    width: 600px;
    opacity: 0.9;
}
#conteudo{
    height:1120px;
    width: 500px;
}